@media (min-width: 768px) {
    .header {
        flex-direction: row;
        padding: 30px;
        height: auto;
    }

    .logo h1 {
        font-size: 3rem;
    }

    .menu {
        flex-direction: row;
        align-items: center;
    }

    .menu li {
        padding-left: 1.3em;
        margin-top: 0;
    }

    .menu li a{
        font-size: 1.5rem;
        padding: 10px;
    }

    .menu li a.cadastrar {
        display: inline;
        padding: 15px;
        font-size: 1.5rem;
    }

}